<% if @tradition.errors.any? %>
<p>
  Tradition could not be saved.<br />
  Please correct the following <%= pluralize(@tradition.errors.count, 'error') %>:
  <ul>
    <% @tradition.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</p>  
<% end %>
<%= form_for(@tradition) do |form| %>

<p>
	<%= form.label :name %>
	<%= form.text_field :name,class:"form-control" %>
</p>
<p>
	<%= form.label :description %>
	<%= form.text_field :description,class:"form-control" %>
</p>
<% if user_signed_in? && current_user.admin? %>
<p>
	<%= form.label :approved %>
	<%= form.check_box :approved %>
</p>
<%end%>
<p>
	<%= form.submit class:"btn btn-default" %>
</p>

<% end %>