<p>

<%=image_tag @tradition.url, class:"img-responsive" %>


</p>
<p>

<%= @tradition.name %>
<% if !@tradition.approved %>
(Awaiting Aproval)
<% end %>
</p>
<p>

<%= @tradition.description %>
</p>
<% if !completed(@tradition) %>
<p>
<%= link_to "", new_tradition_picture_path(@tradition), class:"glyphicon glyphicon-camera btn btn-default" %> Complete Tradition
</p>
<%else%>
<p>
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Tradition Completed
</p>
<%end%>
<table class="table table-striped">
<% @tradition.pictures.each do |picture| %>
<tr>
	<td><%=image_tag picture.url, class:"img-responsive" %></td>
</tr>
<tr>
	<td>Completed by <%= link_to picture.user.name, picture.user %> on <%= picture.created_at.in_time_zone("Mountain Time (US & Canada)").strftime("%b %e") %></td>
</tr>

<%end%>

</table>

