<p>
<% @tradition.pictures.each do |picture| %>
<%=image_tag picture.url, class:"img-responsive" %>
<%end%>

</p>
<p>
<strong>Name:</strong>
<%= @tradition.name %>

</p>
<p>
<strong>Description:</strong>
<%= @tradition.description %>
</p>

<p>
  <strong>Posted By:</strong>
  <%= link_to @tradition.user.name, @tradition.user %>
</p>

<p>
<strong>Rating:</strong>
<%= image_tag @tradition.avg_rating, width:80%>
</p>

<% if !@tradition.approved %>
<p>
(Awaiting Aproval)
</p>
<% end %>


<%= link_to "Rate This Tradition", new_tradition_rating_path(@tradition) %>