
<p>
<strong>Name:</strong>
<%= @user.name %>

</p>

<p>


<p>
<strong>Major:</strong>
<%= @user.major %>

</p>
<p>
<strong>Email:</strong>
<%= @user.email %>
</p>
<p>
<%= link_to "Edit Account", edit_user_path(@user), class:"btn btn-default" %>
</p>
<table class="table table-striped">
  <tr>
    <th>Traditions Added:</th>
    <th>Pictures Uploaded:</th>
  </tr>
  <tr>
    <% @user.traditions.each do |tradition| %>
      <td>
      <%= link_to tradition.name, tradition %>
      <% if !tradition.approved %>
        (Awaiting Approval)
      <% end %>
      </td>
      <% tradition.pictures.each do |picture| %>
        <td>
          <%= image_tag picture.url, width:300 %> 
          <% if !picture.approved %>
            (Awaiting Approval)
          <% end %>
        </td>
      <%end%>
  </tr>
    <% end %>
</tr>
</table>


