
<p>
<strong>Name:</strong>
<%= @user.name %>

</p>

<p>


<p>
<strong>Major:</strong>
<%= @user.major %>

</p>
<p>
<strong>Email:</strong>
<%= @user.email %>
</p>
<% if current_user.email == @user.email %>
<p>
<%= link_to "Edit Account", edit_user_path(@user), class:"btn btn-default" %>
</p>
<%end%>

<table class="table table-striped">
  <tr>
      <% @user.pictures.each do |picture| %>
        <td>
          <%= image_tag picture.url, width:300 %> 
          <% if !picture.approved %>
            (Awaiting Approval)
          <% end %>
        </td>
      <%end%>
  </tr>

</tr>
</table>


