<% if @picture.errors.any? %>
<p>
  Picture could not be saved:
  <ul>
    <% @picture.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</p>  
<% end %>
<%= form_for(@picture) do |form| %>

<p>
	<%= form.label :url %>
	<%= form.file_field :url %>
</p>
<p>
	<%= form.label :tradition %><br />
	<%= form.collection_select :tradition_id, Tradition.all, :id, :name %>
</p>
<% if user_signed_in? && current_user.admin? %>
	<p>
		<%= form.label :approved %><br />
		<%= form.check_box :approved %>
	</p>
<%end%>
<p>
	<%= form.submit class:"btn btn-default"%>
</p>

<% end %>