<!DOCTYPE html>
<html>
<head>
  <title>TraditionsBook</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row header">
			<%= image_tag "DSU.png", class:"img-responsive"%>

		</div>
		
		<div class="row">
			<div class="text-success">
				<%= notice %>
			</div>
			<div class="text-danger">
				<%= alert %>
			</div>
		</div>
		<div class="row">
			<%= yield %>
		</div>
	</div>
		<div class="footer row">	
			<div class="btn-group btn-group-justified">
				<%= link_to "", root_path, type:"button", class:"glyphicon glyphicon-home btn btn-default" %>
				<% if user_signed_in? %>
					<%#= link_to "", ranks_path, type:"button", class:"glyphicon glyphicon-star btn btn-default"%>
					<%= link_to "", traditions_path, type:"button", class:"glyphicon glyphicon-search btn btn-default"%>
						<%= link_to "", user_path(current_user), type:"button", class:"glyphicon glyphicon-user btn btn-default"%>
						<%= link_to "", session_url(protocol: Rails.env.production? ? 'https' : 'http'), method: 'delete', type:"button", class:"glyphicon glyphicon-log-out btn btn-default" %>
				<% else %>
					<%= link_to "Sign In", new_session_path, type:"button", class:"btn btn-default"%>
					<%= link_to "Sign Up", new_user_path, type:"button", class:"btn btn-default" %>
				<% end %>	
			</div>
		</div>

	

</body>
</html>
